<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    autoReload="true"
    internalLogLevel="Info"
    internalLogFile="Logs/BirthdayBot.Logger.log">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <target xsi:type="File" name="log-text-file"
        fileName="Logs/${hostname}.BirthdayBot.${shortdate:universalTime=true}.log"
        layout="${longdate:universalTime=true}${literal:text=\t}${uppercase:${level}}${literal:text=\t}${logger}${literal:text=\t}${message}${literal:text=\t}${exception:format=Message,StackTrace:maxInnerExceptionLevel=1:separator=|}${literal:text=\t}${processid}${literal:text=\t}${threadid}${literal:text=\t}${aspnet-user-identity}${literal:text=\t}${aspnet-user-claim:ClaimTypes.Role}${literal:text=\t}${mdlc:item=RequestId}${literal:text=\t}${aspnet-item:variable=ot-HttpRequestIn:objectpath=Span.Context.TraceId}${literal:text=\t}${hostname:cached=true}${literal:text=\t}${environment:variable=DOCKER_NODE_ID:cached=true}${literal:text=\t}${var:name=ServiceName:when='${var:name=ServiceName}'!='':cached=true}${literal:text=\t}${assembly-version:cached=true}"/>
    <target xsi:type="ColoredConsole" name="log-colored-console"
        layout="${time:universalTime=true}${literal:text=\t}${level:uppercase=true}${literal:text=\t}${logger}${when:when='${message}'!='':inner=${newline}${message}}${when:when='${aspnet-user-identity}'!='':inner=${newline}${aspnet-user-identity}}${when:when='${aspnet-user-claim:ClaimTypes.Role}'!='':inner=${newline}${aspnet-user-claim:ClaimTypes.Role}}${when:when='${exception}'!='':inner=${newline}${exception:format=Message,StackTrace:maxInnerExceptionLevel=1:separator=|}}">
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow"/>
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red"/>
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Yellow" backgroundColor="Red"/>
    </target>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>

    <!--Output hosting lifetime messages to console target for faster startup detection -->
    <logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="log-colored-console" final="true"/>

    <!--Skip non-critical Microsoft logs and so log only own logs (BlackHole) -->
    <logger name="Microsoft.*" maxlevel="Info" final="true"/>
    <logger name="System.*" maxlevel="Info" final="true"/>

    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="log-text-file"/>
    <logger name="*" minlevel="Trace" writeTo="log-colored-console"/>
  </rules>
</nlog>